
.form-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 100vh;
  
  background-color: #88888847;
}

.form-container input[type="email"],
.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-container button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

.rdw-editor-main {
  border: 1px solid #ccc;
  border-radius: 3px;
  min-height: 240px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.051) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-top: 20px;
  border-radius: 10px;
}

.rdw-editor-toolbar {
  border: none;
  background-color: rgba(8, 4, 138, 0.107);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.email-sending {
  width: 100vw;
  height: 50px;
}

.All-form-elements {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: -690px 500px 5px 260px;
}

.All-form-elements input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 82vw;
  margin-left: 20px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 1px solid #999;
}

.email-sending {
  font-weight: bold;
}

.email-sending::placeholder {
  color: #999;
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: none;
  border-color: #888;
  box-shadow: white;
}

.sending {
  width: 100px;
  height: 50px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #0f572d;
}

@media (max-width: 768px) {
  .All-form-elements {
    padding: 10px;

    flex-wrap: wrap;
  }

  .All-form-elements input,
  .WYSIWYG-editor {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-left: 0;
  }

  .sending {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }
}
