nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(135, 207, 235, 0.077);
  height: 70px;
  z-index: 12;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul div {
  display: flex;
  align-items: center;
}

nav ul div.logo {
  margin-right: auto;
}

nav ul div:last-child {
  margin-right: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: #202124;
  font-weight: bold;
  padding: 10px 15px;
  transition: 0.3s ease;
  margin: 10px 4px 4px;
}

nav ul li:first-child a img {
  width: 119px;
  height: 40px;
  margin: 14px;
  margin-left: 20px;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0px 100px;
}

.search-container li {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 70%;
 
}

.search-container li input[type="search"] {
  padding: 10px 40px 10px 40px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;

  border-radius: 24px;
  background-color: #eaf1fb;
  transition: transform 0.3s ease;
}

.search-container:hover {
  transform: scale(1.01);
}

.search-icon {
  position: absolute;
  left: 10px;
  color: #333;
}

.All-iconics {
  display: flex;
  align-items: center;
  width: 280px;
}

.question {
  margin: 0 0px 0 0;
  display: flex;
}

.question li {
  padding: 4px;
  cursor: pointer;
  display: block;
  height: 24px;
  margin: 2px;
  padding: 8px;
  width: 36px;
  color: #333333be;
}

.signin {
  color: #333333be;
}

.question svg {
  font-size: 26px;
}


@media (max-width: 768px) {
  nav ul {

   flex-direction: row;
    flex-wrap:nowrap;
  }

  nav ul div.logo {
    margin-right: 0;
   
  }

  nav ul li a img {
    margin: 10px 0;
  }

  .search-container {
    width: 100%;
    margin: 10px 0;
  }

  .search-container li input[type="search"] {
    font-size: 14px;
  }

  .search-icon {
    left: 15px;
  }

  .All-iconics {
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
   margin-top: -15px;
  }

  .question {
    margin: 0;
    justify-content: flex-end;
    width: 100%;
  }
}
